<h1>Nuevo Héroe <small>small</small></h1>
<div fxLayout="row" fxLayoutGap="40px">
  <div fxFlex="50" fxLayout="column">
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-form-field fxFlex="100">
        <mat-label>Super Héroe</mat-label>
        <input matInput type="text" required="" />
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Alter ego</mat-label>
        <input matInput type="text" required="" />
      </mat-form-field>
    </div>
    <mat-form-field fxFlex="100">
      <mat-label>Primera Aparición</mat-label>
      <input matInput type="text" required="" />
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <mat-label>Personajes</mat-label>
      <input matInput type="text" required="" />
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <mat-label>Creador</mat-label>
      <mat-select>
        <mat-option *ngFor="let creador of creadores" [value]="creador.id">
          {{ creador.desc }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <mat-label>Foto URL</mat-label>
      <input matInput type="url" required="" />
    </mat-form-field>
    <br />
    <button mat-fab extended><mat-icon>save</mat-icon> Guardar</button>
  </div>
  <div fxFlex="50">
    <img [src]="heroe | heroeImagen" />
  </div>
</div>
