<mat-card>
  <mat-card-header>
    <!-- <div mat-card-avatar></div> -->
    <mat-card-title>{{ heroe.superhero }}</mat-card-title>
    <mat-card-subtitle>{{ heroe.alter_ego }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ heroe | heroeImagen }}" />
  <mat-card-content>
    <h2>{{ heroe.publisher }}</h2>
    <p>
      <b>Primera aparición: </b>{{ heroe.first_appearance }}
      <br />
      <b>Personajes: </b>{{ heroe.characters }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div fxLayoutGap="10px">
      <button
        mat-raised-button
        color="accent"
        class="pr-1"
        [routerLink]="['..', heroe.id]"
      >
        Leer más...
      </button>
      <button mat-raised-button [routerLink]="['../editar', heroe.id]">
        Editar
      </button>
    </div>
  </mat-card-actions>
</mat-card>
