<mat-sidenav-container fullscreen>
  <!-- Listado del menú -->
  <mat-sidenav #sidenav mode="push">
    <!-- Encabezado -->
    <mat-toolbar>
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu_open</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Items -->
    <mat-nav-list>
      <mat-list-item (click)="sidenav.toggle()" routerLink="./listado"
        ><span matListItemTitle>Listado de heroes</span
        ><span matListItemIcon><mat-icon>list</mat-icon></span></mat-list-item
      >
      <mat-list-item (click)="sidenav.toggle()" routerLink="./agregar"
        ><span matListItemTitle>Agregar heroe</span
        ><span matListItemIcon><mat-icon>add</mat-icon></span></mat-list-item
      >
      <mat-list-item (click)="sidenav.toggle()" routerLink="./buscar"
        ><span matListItemTitle>Buscar heroe</span
        ><span matListItemIcon><mat-icon>search</mat-icon></span></mat-list-item
      >
    </mat-nav-list>
  </mat-sidenav>
  <!-- Sidenav encabezado -->
  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-button (click)="logout()">
      Logout
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  <!-- Contenido de la página -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
