<div fxLayout="column">
  <div>
    <h1>Buscador de heroes</h1>
    <mat-divider></mat-divider>
  </div>
  <div fxLayout="column">
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Heroe</mat-label>
      <input
        type="text"
        placeholder="Nombre del heroe"
        aria-label="Heroe"
        matInput
        [(ngModel)]="termino"
        [matAutocomplete]="auto"
        (input)="buscando()"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="opcionSeleccionada($event)"
      >
        <mat-option *ngFor="let heroe of heroes" [value]="heroe">
          {{ heroe.superhero }}
        </mat-option>
        <mat-option value="" *ngIf="heroes.length === 0 && termino.trim()"
          >Sin resultados con el termino "{{ termino }}"</mat-option
        >
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div *ngIf="heroeSeleccionado">
    <app-heroe-tarjeta [heroe]="heroeSeleccionado"></app-heroe-tarjeta>
  </div>
</div>
